.main-content {
    color: #6EA489;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    font-family: "Raleway", sans-serif;
}

.github {
    display: inline-block;
    height: 40px;
    width: 40px;
}
/*
.linked-in {
    height: 45px;
    width: 45px;
}*/

body {
    background-color: #256E5D;
}
