.main-content {
    color: #d9d9d9;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.github {
    display: inline-block;
    height: 40px;
    width: 40px;
}
/*
.linked-in {
    height: 45px;
    width: 45px;
}*/

body {
    background-color: #009973;
}
