body {
    background-color: #256E5D;
}

.main-content {
    color: #70A69A;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    font-family: "Raleway", sans-serif;
}

.main-content a {
    font-size: 1.5em;
    text-decoration:underline;
    color: #01372B;
}

.main-content h1 {
    font-size: 3em;
    font-weight: bolder;
}

.main-content h3 {
    font-size: 2em;
    color: #AA803A;
}

.github {
    display: inline-block;
    height: 60px;
    width: 60px;
    opacity: .6;
}
/*
.linked-in {
    height: 45px;
    width: 45px;
}*/